<.header>
  Edit Wallet <%= @wallet.id %>
  <:subtitle>Use this form to manage wallet records in your database.</:subtitle>
</.header>

<.wallet_form changeset={@changeset} action={~p"/wallets/#{@wallet}"} />

<.back navigate={~p"/wallets"}>Back to wallets</.back>
