<.header>
  New Transfer
  <:subtitle>Use this form to manage transfer records in your database.</:subtitle>
</.header>

<.transfer_form changeset={@changeset} action={~p"/transfers"} />

<.back navigate={~p"/transfers"}>Back to transfers</.back>
